{% extends "base.html.twig" %}

{% block title %}
    Modification du cahier {{book.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Modification du cahier {{book.title}} 📈</h1>
        <a href="{{ path('book') }}" class="btn btn-primary m-2">
            <i class="fas fa-arrow-left"></i>
            Retour
        </a>
        <div class="row">
            <div class="col">
                <div class="alert alert-light shadow">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}